.cat-food {
  width: 471px;
  margin: 0 auto;
  padding-top: 38px;
}

.cat-food__header {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  font-family: "Exo2 Thin", "Arial", sans-serif;
  color: white;
}

.cat-food__list {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  list-style: none;
}
